<iframe src=<%= @movie.trailer %>?rel=0&autoplay=<%= params[:autoplay] || 0 %> frameborder='0' allowfullscreen></iframe>
<h1><%= @movie.title %></h1>
<h3><%= link_to 'Movie description', @movie.description %><h3>
<%= @movie.plex ? (link_to "Watch Movie", @movie.plex) : ""%>
<h4>Genre: <%= @movie.genre %><h4>
<h4>Duration: <%= @movie.duration %><h4>
<h4>Likes: <%= @movie.like %>  Dislikes: <%= @movie.dislike %><h4>
<br />
<h5><%= link_to "Delete Movie", @movie, method: :delete %><h5>
<h5><%= link_to "Edit Movie", edit_movie_path(@movie) %><h5>
<br />




<%= render "comments/mcomments" %>